.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.contacts {
    padding: 20px;
}

.contact {
    padding: 10px;
}

.contact.active {
    color: gold;
}

.contact a{
    text-decoration: none;
    color:indigo;
}

.messages {
    padding: 20px;
}

.messageItem {
    padding: 10px;
    margin-bottom: 10px;
    background-color: hotpink;
    
}

.yourMessage {
    text-align: right;
}

.messageField {
    
    
}


