.usersPage {
    padding: 10px;
}
.userCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    max-width: 700px;
    border-radius: 5px;
    margin: 5px;
}
.userPhotoFollow {
    width: 120px;
    display: flex;
    flex-direction: column;
}
.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-color: #ed8c72;
    border-style: inset;
}
.userInfoBlock {
    border-radius: 50% 20% / 10% 40%;
    border: solid 2px;
    background-color: #2988bc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    color: aliceblue;
    min-width: 400px;
}
.userName {
    font-weight: bolder;
    border-bottom: #ed8c72;
}
.userStatus {
    padding-right: 30px;
    font-style: italic;
}
.location {
}


