.bgImg {
    width: 1000px;
}

.profileContent {
    display: flex;
    padding: 10px;
}

.profilePhoto {
    height: 250px;
    float: left;
    border-style: unset;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileData {
    float: left;
    padding: 10px;
}
.profileData span {
    font-weight: 700;
}
